body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

.navbar {
    color: #393939;
    backdrop-filter: blur(4px);
    background-color: #ffffffc0;
}

.navbar .active {
    font-weight: 700;

}

.navbar-brand {
    font-weight: 500;
}

.mnavbar {
    background-color: #ffffff8f;
    color: #393939 ;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 4rem;
    backdrop-filter: blur(4px);

}


.mnavbar i {
    font-size: 25px;
}

.mnavbar p {
    font-size: 12px;
    font-weight: 500;
    padding-top: -2rem;
}

.jumbotron {
    padding-top: 6rem;
    background-image: url(/src/img/bg-jumbotron.jpg);
    line-height: 0.5cm;
}

.jumbotron img {
    border-radius: 50%;
}

.jumbotron h1 {
    font-weight: 700;
    padding-top: 1rem;
    color: #ffae00;
   
}

.jumbotron p {
    font-weight: 400;
    color:#fff;
    ;
}

.jumbotron a {
    font-size: 30px;
    padding-left: 1rem;
    color: #fff;
}

.jumbotron a:hover {
    color: #514d4d;
    transition: ease;
    transition-duration: 0.5ms;
}

.jumbotron h5 {
    padding-top: 2rem;
    color: #fff;
}

section {
    padding-top: 5rem;
}

.info   {
    margin-top: 4rem;
    position: relative;
    z-index: 999;
}

.info i {
    font-size: 3rem;
}

.info img {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.project {
    padding-top: 4rem;
    background-color: #f2f2f2;
}

.project a {
    background-color: #000000;
    color: #fff;
    font-weight: 500;
}

.project a:hover {
    background-color: #656565;
    color: #fff;
}

.project h2 {
    padding-bottom: 2rem;
}

.project .card {
    margin-bottom: 2rem;
}

.project .card img {
    
}

.contact h2 {
    padding-top: 4rem;
    padding: 2rem;
}

.contact .btn-kirim {
    background-color: #000000;
    color: #fff;
    font-weight: 500;
}

.contact .btn-kirim:hover {
    background-color: #686868;
    color: #fff;
    font-weight: 500;
}

footer a {
    text-decoration: none;
}

footer {
    background-color: #ffae00;
}